body{
  background-image: url("../../assets/fundo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.profile-container {
  width: 100%;
  max-width: 1180px;
  margin: 0px 100px;
}

.profile-container header {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}
.wellcome{
  display: flex;
}
header p{
  color:#ffacac ;
}
.name-user{
  display: flex;
  color: #c51d98;
}
.profile-container header img{
  height: 27.5px;
  width: 178.039px;
}
.profile-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.profile-container header button{
  margin-right: 100px;
}
.register{
  width: 90%;
  height: 60px;
  font-weight: raleway;
  background: linear-gradient(to right, #c51d98, #ffacac);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  margin-right: 100px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}
.profile-container header button {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
}

.profile-container header button:hover {
  border-color: #999;
}
.back{
  color: #c51d98;
  font-weight: bold;
  font: raleway;
  border: 1px solid #c51d98;
  margin: 57px 250px 20px 0;
  padding: 9px 5px;
  background: none;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 20px;
}
.scroll-horizontal {
  width: 100%;
  height: 485px;
}

.title-jogos{
  padding-top:23px ;
  color: #ffacac;
  font-size: 14px;
  font: raleway;
  font-weight: bolder;
  letter-spacing: 1px;
}
.aviso{
  color: #c51d98;
  margin: 0 0 10px 0;
}
.exibe1{
  height: 115px;
  display: flex;
}
.img-jogo1{
  height: 115px;
  width: 115px;
}
.img-jogo1 img{
  height: 100%;
  width: 100%;
}
.img-jogo2{
  height: 160px;
  width: 160px;
}
.img-jogo2 img{
  height: 100%;
  width: 100%;
}
.info-esq{
  min-height: 10px;
  overflow-x: auto;
  width: 145px;
}
.info-esq2{
  max-height: 40px;
  overflow-x: auto;
  width: 145px;
}
.nome{
  color: #c51d98;
}
.descricao{
  margin: 0 0 10px0;
}
.info-meio{
  height: 70px;
  width: 80px;
}
.info-dir{
  height: 40px;
  width: 100px;
  margin-right: 30px;
}
.info-dir button img{
  height: 20px;
  width: 20px;
}
.info-dir a{
  text-decoration:none;
}
.info-dir button{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #dcdce6;
  background-color: #14c800;
  margin-right: 50px;
  color: #fff;
  font-size: 13px;
  padding: 0 10px 10px 0;
}

.lista1{
  display: flex;
  overflow-x: auto;
  min-height: 160px;
}
.lista2{
  display: flex;
  overflow-x: auto;
  height: 250px;
  padding-left: 10px;
}
.lista1 li{
  width: 145px;
  height: 155px;
  padding-top: 2px;
  padding-left: 5px;
  margin-right: 65px;
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(173, 173, 173);
}
.lista2 li{
  width: 180px;
  max-height: 230px;
  padding-top: 2px;
  padding-left: 5px;
  margin-right: 80px;
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(173, 173, 173);
}
.trash{
  float: top;
  right: 24px;
  top: 24px;
  border: 0;
}
.lista1 li button:hover {
  opacity: 0.8;
}

.lista2 li button:hover {
  opacity: 0.8;
}

