body{
  background-image: url("../../assets/fundo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.profile-container {
  width: 100%;
  max-width: 1180px;
  margin: 32px 100px;
}

.profile-container header {
  display: flex;
  align-items: center;
}
.profile-container header img{
  height: 27.5px;
  width: 178.039px;
}
.profile-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.profile-container header button{
  margin-right: 100px;
}
.register{
  width: 90%;
  height: 60px;
  font-weight: raleway;
  background: linear-gradient(to right, #c51d98, #ffacac);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  margin-right: 100px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}
.profile-container header button {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
}

.profile-container header button:hover {
  border-color: #999;
}

.profile-container h1 {
  margin-top: 40px;
  margin-bottom: 24px;
}
.scroll-horizontal {
  background: #f3f3f3;
  width: 100%;
  min-height: 600px;
  box-shadow: 3px 3px 10px rgb(173, 173, 173);
  padding: 20px 5px 5px 20px;
  margin-top: 50px;
}
.title-jogos{
  padding: 2%;
  color: #eb85c4;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.img-jogo{
  height: 150px;
  width: 360px;
}
.img-jogo img{
  padding: 0 50px;
  height: 100%;
  width: 70%;
}
.info-esq{
  height: 70px;
  width: 100px;
}
.info-meio{
  height: 70px;
  width: 80px;
}
.info-dir{
  height: 70px;
  width: 100px;
  margin-right: 30px;
}
.info-dir button img{
  height: 40px;
  width: 40px;
}
.info-dir button{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #dcdce6;
  background-color: #14c800;
  margin-right: 50px;
}
.info-dir button {
  color: #fff;
  padding: 0 10px 10px 0;
}
.profile-container ul{
  display: flex;
  overflow-x: auto;
  height: 250px;
}  
.profile-container ul li{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 450px;
  min-height: 250px;
  max-height: 400px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px;
  position: relative;
  background-color: white;
}
.trash{
  position: absolute;
  float: top;
  right: 24px;
  top: 24px;
  border: 0;
}

.profile-container ul li button:hover {
  opacity: 0.8;
}

.profile-container ul li info-esq strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.profile-container ul li info-esq p + strong {
  margin-top: 20px;
}

.profile-container ul li p {
  padding-top: 10px;
  color: #737380;
  line-height: 21px;
  font-size: 14px;
}
.exit-page{
  background:transparent; 
  border:none; 
  outline:none; 
  display:block; 
  height: 20px;
  width: 50px;
  cursor:pointer;
}
.exit-page{
  margin: 10px 0 0 0px;
  color: #eb85c4;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.exit-page p{
  padding-top:5px ;
  width: 80px;
  height: 30px;
}
.exit-page img{
  float: left;
  width: 20px;
  padding-top: 5px;
}