@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px raleway;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow-y: auto;
}

input,
button,
textarea {
  font: 400 18px raleway;
}

button {
  cursor: pointer;
}

.back-link:hover {
  opacity: 0.8;
}

a{
  font-size: 13px;
  text-decoration: none;
  color: #c51d98;
  font-weight: bold;
  transition: 0.2s;
}

a:hover{
  transform: scale(1.02);
  text-decoration: underline;
}