.App {
  background-image: url("../../assets/fundo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.flex {
  display: flex; /*fica um ao lado do outro*/
  justify-content: space-between; /*Irá dar espaço entre os itens*/
  flex-wrap: wrap;
  align-items: center;
  height: 52px;
  margin: 0 100px;
  padding-top: 23px;
  padding-bottom: 50px;
}

.flex img{
  height: 53px;
}

.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 520px;
  margin: 0 100px;
  padding-top: 60px;
}

.logon-container section.form {
  background: #f3f3f3;
  width: 380px;
  height: 410px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(173, 173, 173);
  text-align: center;
  align-items: center;
}

.logon-container section.form form {
  margin-top: 50px;
  align-items: center;
}
.logo-center{
  padding: 34px 0 0 10px;
  height: 100px;
}
.logo-center img{
  height: 25px;
}

.enter-text {
  border-radius: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffacac;
  margin-top: 33px;
  width: 80%;
  height: 30px;
  font-size: 13px;
  color: #c51d98;
  transition: 0.2s;
} 
.enter-text:focus{
  border-bottom: 1px solid #c51d98;
}
input {
  background-color: transparent;
  margin: 1%;
}
.logon-container section.form form button{
  width: 85%;
  height: 60px;
  color: white;
  font-weight: raleway;
  margin-top: 32px;
  background: linear-gradient(to right, #c51d98, #ffacac);
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.logon-container section.form form button:hover{
  background-clip: text;
  color: transparent;
  border: 1px solid #c51d98;
  transform: translateY(-3px);
  box-shadow: 1px 1px 10px rgb(189, 189, 189);
  transition: 0.4s;
}
.voltar{
  margin-top: 70px;
  padding-right: 170px;
  font-size: 13px;
  text-decoration: none;
  transition: opacity 0.2s;
  color: #ffffff;
  transition: 0.2s;
}

.voltar:hover{
  transform: scale(1.02);
}