
.register-container {
  width: 100%;
  max-width: 1120px;
  min-height: 600px;
  margin: 0 auto;
  align-items: center;
}
.flex {
  display: flex; /*fica um ao lado do outro*/
  justify-content: space-between; /*Irá dar espaço entre os itens*/
  flex-wrap: wrap;
  align-items: center;
  height: 52px;
  margin: 0 100px;
  padding-top: 23px;
  padding-bottom: 50px;
}

.flex img{
  height: 55px;
}
.botao-ajuda {
  color: #ffacac;
  font-weight: bold;
  border: 3px solid #c51d98;
  padding: 5px 20px;
  background: none;
  border-radius: 20px;
  transition: 0.2s;
}

.botao-ajuda:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px #ffacac;
}
.register-container form {
  background: #f3f3f3;
  width: 470px;
  max-width: 600px;
  min-height: 515px;
  margin: 5px 0 0 330px;
  border-radius: 15px;
  margin-bottom: 100px;
  box-shadow: 4px 3px 10px rgb(173, 173, 173);
  text-align: center;
  align-items: center;
}
.logo-center{
  padding: 34px 0 0 10px;
  height: 100px;
}
.logo-center img{
  height: 25px;
}

.input-top input{
  border-radius: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffacac;
  width: 67%;
  margin: 13px;
  font-size: 15px;
  color: gray;
  transition: 0.2s;
}

.register-container .input-group {
  display: flex;
}
.input-left{
  border-radius: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffacac;
  width: 200px;
  margin: 13px 13px 0px 77px;
  font-size: 15px;
  color: gray;
  transition: 0.2s;
}
.input-right{
  border-radius: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffacac;
  width: 12px;
  margin: 13px 0px 0px 25px;
  font-size: 15px;
  color: gray;
  transition: 0.2s;
}
.contract{
  display: flex;
  margin: 25px 0 0 70px;
}
.contract input{
  margin: 0 0 5px 0;
}
.contract p{
  color: rgb(44, 44, 44);
  margin: 0px 5px 0 30px;
}
.contract link{
  color: #c51d98;
}
.register-container form button{
  display: flex;
  align-items: center;
  width: 70%;
  height: 55px;
  color: white;
  font-weight: bold;
  margin: 50px 0 0 70px;
  background: linear-gradient(to right, #c51d98, #ffacac);
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.register-container form button strong{
  margin: 0 110px 0 30px;
}
.register-container form button img{
  filter: invert(100%);
}
.aviso{
  color: rgb(44, 44, 44);
  font-size: 12px;
}