.register-container {
  width: 100%;
  max-width: 1120px;
  min-height: 600px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  height: 450px;
  margin-top: 0px;
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
  height: 450px;
  padding-left: 20px;
}
.register-container .content section img{
  height: 55px;
  width: 356.078px;
}
.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}
.back-link{
  margin-top: 180px;
}
.register-container .content form {
  background: #f3f3f3;
  width: 400px;
  max-width: 600px;
  border-radius: 30px;
  min-height: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 3px 3px 10px rgb(173, 173, 173);
  text-align: center;
  align-items: center;
}

.register-container .content form input {
  border-radius: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffacac;
  width: 67%;
  margin-left: 10px;
  font-size: 15px;
  color: gray;
  transition: 0.2s;
}

.register-container .content .input-group {
  display: flex;
}

.register-container .content .input-group input + input {
  margin-left: 8px;
}
.register-container .content form button{
  width: 90%;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  background: linear-gradient(to right, #c51d98, #ffacac);
  border: none;
  border-radius: 30px;
  margin-bottom: 30px;
  transition: 0.3s;
}